/* CSS Reset  */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  background-color:#82c9c5;
  margin-left: 20px;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
input,
button,
textarea,
select {
	font: inherit;
}
p {
	text-wrap: pretty;
}
button{
  /* aspect-ratio:1/1; */
  background-color: #555;
  color:gold;
  padding:0.5rem 1rem;
  border-radius: 8px;
  border:solid sienna 1px;
}

button:hover{
  cursor:pointer;
  scale:1.05;
}

button:active{
  color:red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

