@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* RESET CSS */
*,
*::before,
*::after { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CSS */
body {
    font-family: "Inter", sans-serif;
}
img{
  display: block;
}

span{
  color: red;
  background-color:yellow;
  height: 50px;
  padding:0 1rem;

}