@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body{
  font-family: "Inter Tight" ;
  background-image:url("https://i.pinimg.com/736x/61/08/1b/61081b4e627c46fe63afab2dd9d1574b.jpg");
  background-size: cover;
}
p {
  background-color: #738ffe ;
  color:white;
}
 /* <section> --> element, tag, #about -->id,.box --> class */